@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

input {
  padding: 3px;
}

a {
  text-decoration: none;
  color: white;
}
/*index styles*/
.contain-index {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 82%;
  right: 0;
}

.welcome {
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  width: 100%;
  margin-top: 100px;
}

.text-orange {
  color: #fa8328;
}

.puntomarket-background {
  width: 60%;
  margin-top: 10px;
}
