.contain-inv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.btn-buy {
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 50px;
  color: black;
  height: 200px;
  width: 250px;
}

.contain-inv input {
  width: 450px;
  height: 40px;
  margin-top: 8px;
  -moz-appearance: textfield;
}

.form-contain-inv {
  position: fixed;
  display: table;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
}

.form-inv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  min-height: 99vh;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}

.form-content {
  width: 95%;
  height: 650px;
  background: white;
}

.content-inputs {
  display: flex;
  height: 400px;

  align-items: center;
  flex-direction: column;
}

.content-articles {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 400px;
  overflow-y: scroll;
}
.content-articles input {
  margin-top: 5px;
  width: 150px;
  height: 25px;
}

.article h3 {
  text-align: center;
}

.btn-delete-art {
  border-radius: 10px;
  width: 50px;
  color: red;
  cursor: pointer;
  text-align: Center;
  font-size: 14px;
  user-select: none;
  height: 30px;
  padding: 5px;
}

.content-btn {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.content-btn button {
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  padding: 20px;
  background: #fa8328;
  color: white;
  -webkit-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  -moz-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
}

#client {
  height: 30px;
  margin-bottom: 20px;
}

.label-client {
  color: rgba(250, 131, 40, 1);
  font-weight: bolder;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.contain-edit {
  width: 82%;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 90px;
}
.camps {
  margin-top: 10px;
  margin-top: 35px;
  display: flex;
  width: 82%;
  margin-right: 10px;
  justify-content: space-evenly;
}

.camps span {
  display: inline-Block;
  text-align: center;
  width: 120px;
}

.price-total-dolar {
  margin-top: 50px;
  margin-left: 15px;
}

.price-total-bs {
  margin-left: 15px;
}

.input-total {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.input-total-contain {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contain-inv label {
  margin-top: 40px;
}

.input-total-contain label {
  font-size: 18px;
  font-weight: bold;
}
.input-total-contain input {
  padding: 0 !important;
  margin: 0 !important;
}

.input-total input {
  width: 150px;
  height: 25px !important;
}

.total-bs,
.total-dolar,
.fecha {
  margin-left: 15px;
}

.fecha {
  display: inline-block;
}

.delete-sell {
  background: #f0f0f0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: red;
  padding: 6px;
}

/* INVENTARIO */

.container-inv {
  position: absolute;
  right: 0;
  width: 82%;
}

.title-inv {
  margin-top: 100px;
  font-size: 40px;
  color: #fa8328;
}
.container-inv img {
  width: 35px;
}

.btn-ventas {
  color: black;
}
.table-inv td {
  text-align: center;
}
.table-inv input {
  width: 150px;
  height: 25px;
}
.contain-table-inv {
  padding: 50px;
  height: 400px;
  margin-bottom: 100px;
  max-height: 650px;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 3px 16px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 16px 13px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 16px 13px rgba(0, 0, 0, 0.1);
}

.camps-inv {
  font-weight: bolder;
}

.contain-btn-ventas {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  border: 3px solid rgba(250, 131, 40, 1);
  padding: 10px;
  background: white;
  -webkit-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  -moz-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
}

.contain-btn-ventas p {
  display: inline;
}

.btn-inv-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-inv-content button {
  padding: 10px;
  background: green;
  color: white;
  -webkit-box-shadow: 1px -1px 28px 2px green;
  -moz-box-shadow: 1px -1px 28px 2px green;
  box-shadow: 1px -1px 28px 2px green;
  border: none;
}

.form-input-tasadolar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contain-btn-tasa-dolar {
  margin-top: 20px;
  display: flex;
  width: 400px;
  justify-content: center;
  margin-bottom: 40px;
}

.contain-btn-tasa-dolar button {
  border: none;
  padding: 10px;
  color: white;
  background: #fa8328;
  -webkit-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  -moz-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
}

.input-tasadolar-inv {
  width: 400px !important;
}

.change-tasa-dolar {
  background: #fa8328;
  padding: 10px;
  -webkit-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  -moz-box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
  box-shadow: 1px -1px 28px 2px rgba(250, 131, 40, 1);
}

.tasa-dolar-label-inv {
  font-size: 20px;
  font-weight: bolder;
}

.save-changes {
  background: rgb(4, 155, 200) !important;
  color: white;
  -webkit-box-shadow: 1px -1px 28px 2px rgb(4, 155, 200) !important;
  -moz-box-shadow: 1px -1px 28px 2px rgb(4, 155, 200) !important;
  box-shadow: 1px -1px 28px 2px rgb(4, 155, 200) !important;
}

.register {
  margin-left: 35px;
  width: 120px;
  padding: 10px;
  background-color: rgb(4, 155, 200);
  color: white !important;

  -webkit-box-shadow: 1px -1px 28px 2px rgb(4, 155, 200) !important;
  -moz-box-shadow: 1px -1px 28px 2px rgb(4, 155, 200) !important;
  box-shadow: 1px -1px 28px 2px rgb(4, 155, 200) !important;
}
