.contain-inv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.btn-buy {
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 50px;
  color: black;
  height: 200px;
  width: 250px;
}

.contain-inv input {
  width: 450px;
  height: 40px;
  margin-top: 8px;
  -moz-appearance: textfield;
}

.contain-sells {
  margin-top: 90px;
}

.title-sells {
  text-indent: 80px;
  font-size: 1.7rem;
}

.form-contain-inv {
  position: fixed;
  display: table;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
}

.form-inv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  min-height: 99vh;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}

.form-content {
  width: 95%;
  height: 600px;
  background: white;
}

.content-inputs {
  display: flex;
  height: 400px;

  align-items: center;
  flex-direction: column;
}

.content-articles {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 400px;
  overflow-y: scroll;
}
.content-articles input {
  margin-top: 5px;
  width: 120px;
  height: 25px;
}

.article h3 {
  text-align: center;
}

.btn-delete-art {
  border-radius: 10px;
  width: 50px;
  color: red;
  cursor: pointer;
  text-align: Center;
  font-size: 14px;
  user-select: none;
  height: 30px;
  padding: 5px;
}

.content-btn {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  align-items: center;
  justify-content: space-around;
}

.content-btn button {
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  background: #2d343c;
  color: white;
}

.list-sales {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#client {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sale-contain {
  color: white;
  height: 300px;
  width: 200px;
  list-style: none;
  background: #2d343c;
  margin-bottom: 20px;
}

.sale-client {
  text-align: center;
  list-style: none;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.sale-product {
  text-align: center;
  font-size: 16px;
}

.amount {
  margin-left: 5px;
  color: green;
}

.camps {
  margin-top: 10px;
  margin-top: 35px;
  display: flex;
  width: 82%;
  margin-right: 10px;
  justify-content: space-around;
}

.camps span {
  display: inline-Block;
  text-align: center;
  width: 120px;
}

.price-total-dolar {
  margin-top: 50px;
  margin-left: 15px;
}

.price-total-bs {
  margin-left: 15px;
}

.products-contain {
  max-height: 200px;
  min-height: 200px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.input-total {
  display: flex;
  justify-content: space-around;
  width: 82%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.input-total-contain {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contain-inv label {
  margin-top: 40px;
}

.input-total-contain label {
  font-size: 20px;
  font-weight: bold;
}
.input-total-contain input {
  padding: 0 !important;
  margin: 0 !important;
}

.input-total input {
  width: 130px;
  height: 25px !important;
}

.total-bs,
.total-dolar,
.fecha {
  margin-left: 15px;
}

.fecha {
  display: inline-block;
}

.delete-sell {
  background: #f0f0f0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: red;
  padding: 6px;
}
