extends ../templates/template

block main
				div(class="contain-index")
					h1(class="welcome") 
						span(class="text-orange") ¡Bienvenido, 
						span usted ha ingresado a
						span(class="text-orange")  PuntoMarket!
					h2 Tasa del dolar actual: 
						span(id="tasa-actual") #{tasadolar[0].tasadolar}
					img(class="puntomarket-background" src="/puntomarket-background.jpg")
