extends ../templates/template

block main
				div(class="contain-index")
					h1(class="welcome") 
						span(class="text-orange") ¡Bienvenido, 
						span usted ha ingresado como 
						span(class="text-orange") Admin!
					img(class="puntomarket-background" src="/puntomarket-background.jpg")
