extends ../templates/template

block main
    span(id="tasa-actual" class="tasa-actual-invi") #{tasadolar[0].tasadolar}
    div(class="container-manual")
         h1(class="title-manual") Manual de Uso
         div(class="contain-manual")
            ul(class="list-manual")
                li() 
                    a(href="/manual/addVenta") Añadir venta
                li() 
                    a(href="/manual/inventario") Inventario
                li() 
                    a(href="/manual/editar") Editar
            div(class="contain-content-manual")
                h1(class="title-manual") Editar venta
                p En el inventario en la sección de ventas estarán las ventas totales. Pulsa una tarjeta para poder editarla.
                img(src="/edit-ventas.jpg" class="img-manual")
                p Te enviará a otro formulario donde podrás editar o eliminar la venta seleccionada.
                img(src="/form-edit.png" class="img-manual")