doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title PuntoMarket
		<link rel="icon" href="/logo.png">
		style
			include ../css/signin.css
	div(class="signin-contain")
		div(class="signin")
			img(src="/logo.png" class="logo")
			div
				h1(class="title-signin")
					span(class="bienvenido") ¡Bienvenido, 
					span(class="puntomarket") PuntoMarket!  
					span(class="bienvenido") Registrate.
				form(action="/signup" method="POST" class="form-signin")
					label(for="username") username
					input(type="text" id="username" autocomplete="off" name="username" placeholder="ingrese el usuario" class="input-signin" required)
					label(for="password") password
					input(type="password" id="password" autocomplete="off" name="password" placeholder="ingrese la clave" class="input-signin" required)

					button(type="submit" class="enter-signin") Registrarse
					div(class="more-options-register")
						a(href="/opciones" ) Volver
