doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge" Content-Type="text/javascript")
		title PuntoMarket
		<link rel="icon" href="/logo.png">
		style
			include ../css/normalize.css
			include ../css/index.css
			include ../css/calculadora.css
			include ../css/inventario.css
			include ../css/template.css
			include ../css/ventas.css
			include ../css/opciones.css
			include ../css/manual.css
	body
		header(class="header-template")
			img(src="/logo.png" class="logo")
			nav(class="contain-left")
				a(href="/index")
					li
						img(src="/home.png")
						span Inicio
				a(onClick="showForm()" id="add-venta")
					li(class="add-sell")
						img(src="/add.png")
						span Añadir venta
				a(href="/inventario")
					li
						img(src="/list.png")
						span Inventario
				a(href="/calculadora")
					li
						img(src="/calculator.png")
						span Calculadora
				a(href="/manual")
					li
						img(src="/manual.png")
						span Manual
				a(href="/opciones")
					li
						img(src="/settings.png")
						span Más opciones
		div(id="form-contain" class="form-contain-inv")
			form(action="/inventario/add" method="POST" class="form-inv" id="form")

				div(class="form-content")
					div(id="content-inputs" class="content-inputs")
						label(for="client" class="label-client") Cliente
						input(id="client" autocomplete="off" type="text" name="client" placeholder="nombre del cliente" required)
						table(class="content-articles")
							tbody(id="content-articles")
								tr(class="article") 
									td
										h3 Articulo 
									td
										h3 Cantidad
									td 
										h3 Precio $ 
									td 
										h3 Precio Bs
									td 
										h3 Monto $
									td
										h3 Monto Bs 
									td(class="btn-delete-art")
										div
					
					div(class="input-total")
						div(class="input-total-contain")
							label(for="monto-total-dolar") monto total dolar
							input(class="total-dolar" id="monto-total-dolar" step="0.01" type="number" name="priceTotalAllDolar" placeholder="total $" readonly)
						div(class="input-total-contain")
							label(for="monto-total-bs") monto total bs
							input(class="total-bs" id="monto-total-bs" step="0.01" type="number" name="priceTotalAllBs" placeholder="total Bs" readonly) 
	
					div(class="content-btn")
						button(type="button" class="add-article" onClick="addNewArticle()") agregar nuevo articulo
						button(type="submit") Realizar venta
						button(type="button" onClick="hiddenForm()") Cancelar
		block main  
		script
			include ../js/inventario/ventas/addArticle.js
		script 
			include ../js/inventario/ventas/showForm.js
		script
			include ../js/calculadora/calcSystemForm.js